.info_container {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: white;

  .info_content {
    width: 100%;
    height: calc(100% - 70px);
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    .info_form {
      width: calc(70% + 10px);
      height: 100%;
      overflow: auto;
      padding-right: 10px;
    }

    .info_nav {
      width: calc(28% - 10px);
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .info_nav_item {
        width: 50%;
        height: 60px;
        border-radius: 4px;
        background-color: #ececec;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 8px;
        &:hover {
          background-color: #dfdfdf;
        }
      }
    }
  }
}
