.info_container_border {
  width: 100%;
  margin-bottom: 15px;

  .info_container_title {
    font-weight: bold;
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
  }

  .info_container_content {
    width: 100%;
    border: 1px solid #ebeef5;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px #ebeef5;
    padding: 15px;
  }
}
